* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card_wrapper {
    border: 1px solid red;
    width: 1200px;
    margin: 30px auto;
}

.card_wrapper .card {
    box-shadow: 0 0 8px gray;
    width: 23%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: inline-block;
}


